<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Favorite Food</title>-->
<!--  </head>-->

<!--  <body>-->
<!--    <h1>Favorite Food</h1>-->
<!--    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
<!--    <form method= "POST" action = "/food">-->
<!--      <p>Your Name: <input type="text"-->
<!--      name= "name"></p>-->
<!--      <p>Favorite Food: <input type= "text" name="favorite_food"></p>-->
<!--    <input type= "submit">-->
<!--    </form>-->

<!--  </body>-->
<!--</html>-->


<!DOCTYPE html>
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Outfit Maker!;)</title>-->
<!--  </head>-->

<!--  <body>-->
<!--    <h1>Outfit Maker!;)</h1>-->
<!--    <img src="https://i.pinimg.com/originals/17/86/14/17861461fea9323a299cef7d4dfca4a2.jpg">-->

<!--    <form method= "POST" action = "/food">-->
<!--      <p>Top: <input type="text"name= "top"></p>-->
<!--      <p>Bottom: <input type= "text" name="bottom"></p>-->
<!--      <p>Footwear: <input type= "text" name="footwear"></p>-->
<!--    <input type= "submit">-->
<!--    </form>-->

<!--  </body>-->
<!--</html>-->
