<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF_8">
    <title>Self Esteem</title>
  </head>
<div id="Self Esteem" class="tabcontent">
  <h3>Solution</h3>
  
  <img width="350" height="350" src="http://uncustomary.org/wp-content/uploads/2015/12/30-Quotes-About-Self-Love-Uncustomary-2.jpg">
  
  <p>Develop awareness.When we’re aware, we can recognise how we are responding and reacting to our own fears, creating a moment between our emotions and our actions. We can then choose to respond in a healthier way.Write in a journal-Many of our thoughts and feelings are locked in our subconscious mind and writing can help to bring them into our awareness. Writing about the way we feel and think can help to separate negative ideas about ourselves from the truth of who we really are.Be non-judgemental.When we approach our lives non-judgementally, we simply accept ourselves, our experiences, our failures and successes and other people just as they are, neither good or bad, without pride or shame.Stay connected to yourself.Mindfulness can help you to develop a sense of connection to yourself and reduce your people-pleasing ways by allowing you to stop the autopilot thinking and behaviour that keeps you jumping to please others without thinking of your own needs.</p>
</div>

</html>